body {
  background-color: #624f82;
  color: #fdfaf6;
  font-family: "Bitter", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* navbar container */
nav {
  align-items: center;
  background-color: #3f3b6c;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

/* logo */
.logo-text {
  color: #a3c7d6;
  font-family: "Over the Rainbow", cursive;
  font-size: 3vw;
}

.logo-text-2 {
  color: #fdfaf6;
  font-family: "Over the Rainbow", cursive;
  font-size: 3vw;
  padding-bottom: 2%;
}

/* nav links */
.nav-links a {
  color: #a3c7d6;
  font-family: "Bitter", serif;
  font-size: 2.5vw;
  margin-left: 20px;
  text-decoration: none;
}

/* hover nav */
.nav-links a:hover {
  text-decoration: none;
  color: #cdf5fd;
}

/* main */
.h1-main {
  padding-top: 2%;
}

main {
  padding: 0 3% 2%;
}

hr {
  border: none;
  border-bottom: 6px dotted;
  max-width: 10%;
  opacity: 0.4;
}

.main-text1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 8vw;
}

.main-text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4vw;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2%;
}
img {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-main1 {
  max-width: 60%;
}

.h3-main {
  padding-top: 4%;
}

/* footer */
i {
  font-size: 4.5vw;
  padding: 2%;
}

i:hover {
  color: #a3c7d6 !important;
  transition: 0.5s ease-in-out;
}

footer {
  background-color: #9f73ab;
  margin: 0;
  padding: 3%;
}

/* congrats.html */
.a-congrats {
  color: #a3c7d6;
  text-decoration: none;
}

.a-congrats:hover {
  color: #cdf5fd;
}

/* 
font-family: 'Bitter', serif;
font-family: 'Over the Rainbow', cursive;
font-family: 'Salsa', cursive; */
